menu "WS2812 Configuration"

config LED_UPDATE_DELAY
	int "Delay between LED updates in ms"
	default 50
	help
	  Delay between LED updates in ms.

config LED_BRIGHTNESS
	int "LED brightness"
	default 16
	range 1 255
	help
	  Brightness level of each LED. Defaults to a low value to make
	  it easier to distinguish colors.

endmenu

menu "Temp config"

config HIGH_TEMP
	int "High threshold temperature"
	default 29
	help 
		High threshold temperature

config LOW_TEMP
	int "Low threshold temperature"
	default 25
	help 
		Low threshold temperature

endmenu

menu "Bluetooth" 
	config SAMPLE_BT_USE_AUTHENTICATION
	bool "Enable passkey authentication"
	default y
	help
	  Enable the passkey authentication callback and register the GATT
	  read and write attributes as authentication required.

endmenu
source "Kconfig.zephyr"